/***** COLOR SCHEME ******/

:root {
  --primary-color: #473F34 ;
  --secondary-color: #8C9657;
  --text-color: #F0E5C7;
  --accent-color: #BCC977;
}

header, footer, .hero-section {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.info-section, .cta-section {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.testimonial-section {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.logo-color {
    color: var(--accent-color);
}

/***** GENERAL ******/

body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1, h2, p, a {
    margin: 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0 16px;
}

a:hover {
    color: var(--secondary-color);
}

mark {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 10px;
}

/***** HEADER SECTION ******/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px 0px 48px;
}

.logo {
    font-family: 'Didot', Georgia, serif;
    font-size: 32px;
}


/***** HERO SECTION ******/

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    max-height: 450px;
}

.hero-container {
    position: relative;
    text-align: center;
}

.hero-container img {
    max-width: 90%;
    border-radius: 20px;
}

.hero-container .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-container h1 {
    font-size: 60px;
    margin-bottom: 32px;
    font-weight: 500;
}

.hero-container p {
    font-size: 24px;
    margin-bottom: 96px;
}

.hero-container button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 50px;
}

.hero-container button:hover {
    background-color:var(--primary-color);
}

/***** INFO SECTION ******/

.info-section {
    padding: 32px;
    text-align: center;
}

.info-section h2 {
    font-size: 48px;
    font-weight: 500;
    margin-top: 128px;
    margin-bottom: 32px;
}

.featured-cafes {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.cafe {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cafe img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 16px;
}

.cafe-name {
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-family: 'Didot', Georgia, serif;
    font-size: 24px;
    border-radius: 50px;
    padding: 6px 4px;
    margin-bottom: 16px;
    width: 300px;
    font-weight: bold;
}

.cafe p {
    width: 300px;   
}

/***** TESTIMONIAL SECTION ******/

.testimonial-section {
    padding: 64px 64px;
    font-style: italic;
}

.testimonial-section h2 {
    font-size: 36px;
}

.testimonial-section p {
    text-align: right;
    font-size: 24px;
}

/***** CALL-TO-ACTION SECTION ******/

.cta-section {
    padding: 32px;
}

.cta {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 32px;
    gap: 32px;
    margin: 16px 32px;
    border-radius: 10px;
    justify-content:space-around;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.cta-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
}

.cta-button:hover {
    /* background-color:var(--accent-color); */
    color: var(--accent-color);
}

/***** FOOTER SECTION ******/

footer {
    padding: 16px 32px;
    text-align: center;
}